[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
bs4 = "*"
flask = "*"
line-bot-sdk = "*"

[dev-packages]

[requires]
python_version = "3.10"
